# Created by pytest automatically.
# This file should not be added to version control.
**ai-agents-for-beginners/
sql_server_pass = "Testingsql1."
sql_SSL_certificate ="CN=desktop-7m8q89a; CN=192.168.3.75"